﻿<!DOCTYPE html>
<html data-ng-app="candidatePage">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!-- 上面三个meta必须在最前，其他都写在后面 -->
    <meta name="description" content="com.pwc.wechat">
    <meta name="author" content="WHO">
    <link rel="icon" href="/wechat/resources/images/icon/favicon.ico">
    <link href="favicon.ico" type="image/x-icon" rel=icon>
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <title>Candidate Page</title>
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' type="text/css" href="/wechat/resources/css/weui.min.css" />
    <!-- Custom styles for this template -->
    <link rel='stylesheet' type="text/css" href="/wechat/resources/css/candidate.css" /> </head>
<body data-ng-controller="candidateController">
    <div class="container" data-ng-init="signatureDialog.show=false;notice.show=false;successToast.show=false;loadingToast.show=false;languageLevel=[];">
        <div class="cell">
            <form name="candidateValidate" novalidate>
                <p class="weui_cells_title">Position information</p>
                <div class="weui_cells">
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*Position Appled For:</p>
                        <select class="weui_cell_bd form-control" name="ApplyPosition" required data-ng-model="candidate.applicationPosition">
                            <option>HR</option>
                            <option>GW</option>
                            <option>JAVA</option>
                            <option>.NET</option>
                        </select>
                        <span style="color: red" data-ng-show="candidateValidate.ApplyPosition.$error.required">ApplyPosition is required</span>
                    </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*Availability:</p>
                        <select class="weui_cell_bd form-control" name="AvailableDay" required data-ng-model="candidate.availableSchedule">
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <span style="color: red" data-ng-show="candidateValidate.AvailableDay.$error.required">Available Day is required</span>
                    </div>
                </div>
                <p class="weui_cells_title">Personal information</p>
                <div class="weui_cells">
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*Name:</p>
                        <input class="weui_cell_bd form-control" data-ng-model="candidate.name" name="candidateName" autofocus="autofocus" required data-validateblur> <span style="color: red" data-ng-show="candidateValidate.candidateName.$error.required && candidateValidate.candidateName.$blur">Name is required</span> </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*Current Province:</p>
                        <input class="weui_cell_bd form-control" name="ProvinceNow" required data-ng-model="candidate.currentProvince">
                        <span style="color: red" data-ng-show="candidateValidate.ProvinceNow.$error.required">ProvinceNow is required</span></div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">Gender:</p>
                        <div class="weui_cell_bd form-control">
                            <label>
                                <input data-ng-model="candidate.gender" type="radio" value="male"> <span>Male</span> </label>
                            <label>
                                <input data-ng-model="candidate.gender" type="radio" value="female"> <span>Female</span> </label>
                        </div>
                    </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*Nationality:</p>
                        <input class="weui_cell_bd form-control" data-ng-model="candidate.nationality"> </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*ID Number:</p>
                        <input class="weui_cell_bd form-control" data-ng-model="candidate.nationalId" name="IDnumber" required data-validateblur data-ng-pattern="/^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/">
                        <p style="color: red" data-ng-show="candidateValidate.IDnumber.$error.required && candidateValidate.IDnumber.$blur">ID Number is required</p>
                        <p style="color: red" data-ng-show="candidateValidate.IDnumber.$error.pattern && candidateValidate.IDnumber.$blur">This is not a valid ID Number</p>
                    </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">Passport NO:</p>
                        <input class="weui_cell_bd form-control" data-ng-model="candidate.passportNumber" name="passportNumber" data-validateblur data-ng-pattern="/^[a-zA-Z]{5,17}$|^[a-zA-Z0-9]{5,17}$/">
                        <p style="color: red" data-ng-show="candidateValidate.passportNumber.$blur && candidateValidate.passportNumber.$error.pattern">This is not a valid Passport Number</p>
                    </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*Birthday:</p>
                        <input class="weui_cell_bd form-control" name="Birthday" required type="date" data-ng-model="candidate.birthday">
                        <p style="color: red" data-ng-show="candidateValidate.Birthday.$error.required">Birthday is required</p>
                    </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">BirthProvince:</p>
                        <input class="weui_cell_bd form-control" data-ng-model="candidate.birthProvince"> </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">Home Phone:</p>
                        <input class="weui_cell_bd form-control" data-ng-model="candidate.homePhone"> </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*Cell Phone:</p>
                        <input class="weui_cell_bd form-control" name="CellPhone" required data-ng-model="candidate.cellPhone"> 
                        <p style="color: red" data-ng-show="candidateValidate.CellPhone.$error.required">Cell Phone is required</p>
                    </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*E-mail&nbsp; &nbsp; :
                        </p>
                        <input class="weui_cell_bd form-control" name="Email" required data-ng-model="candidate.mailAddress" type="email">
                        <p style="color: red" data-ng-show="candidateValidate.Email.$error.required">E-mail is required</p>
                    </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">PersonalPage:</p>
                        <input class="weui_cell_bd form-control" data-ng-model="candidate.personalPage"> </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*Professional Skill:</p>
                        <input class="weui_cell_bd form-control" name="ProfessionalSkill" required data-ng-model="candidate.skillsDescribe">
                        <p style="color: red" data-ng-show="candidateValidate.ProfessionalSkill.$error.required">Professional Skill is required</p>
                    </div>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">*Post-Graduation Plan:</p>
                        <select class="weui_cell_bd form-control" ng-change="GraduatePlanchange()" data-ng-model="candidate.graduatePlan" id="GraduatePlan" name="GraduatePlan" required>
                            <option>Study</option>
                            <option>Work</option>
                            <option>Go abroad</option>
                            <option>Graduate Studies</option>
                            <option>Other</option>
                        </select>
                        <p style="color: red" data-ng-show="candidateValidate.GraduatePlan.$error.required">Graduate Plan is required</p>

                    </div>
                    <div class="weui_cell" id="GraduatePlan_Other" ng-show="graduatePlanother">
                        <p class="weui_cell_hd form-rest">*Other:</p>
                        <input class="weui_cell_bd form-control" name="GraduatePlan_Other" required data-ng-model="graduatePlan_tmp" ng-change="onChangeOther()"> 
                        <p style="color: red" data-ng-show="graduatePlanother&&candidateValidate.GraduatePlan_Other.$error.required">Graduate Plan is required</p>
                    </div>
                </div>
                <p class="weui_cells_title">*Language Skill: <span id="LanguageSkillError" ng-show="LanguageSkillError" style="color: red;float:right">Language Skill is required</span></p>
                <div class="weui_cells weui_cells_checkbox">
                    <label class="weui_cell weui_check_label">
                        <input data-ng-model="languageLevel[0]" class="weui_check" ng-change="changelanguagelevel()" data-ng-true-value="'CET-4'" data-ng-false-value="" type="checkbox"> <i class="weui_icon_checked"></i>&nbsp; &nbsp;
                        <span>CET-4</span> </label>
                    <label class="weui_cell weui_check_label">
                        <input data-ng-model="languageLevel[1]" class="weui_check" ng-change="changelanguagelevel()" data-ng-true-value="'CET-6'" data-ng-false-value="" type="checkbox"> <i class="weui_icon_checked"></i>&nbsp; &nbsp;
                        <span>CET-6</span> </label>
                    <label class="weui_cell weui_check_label">
                        <input data-ng-model="languageLevel[2]" class="weui_check" ng-change="changelanguagelevel()" data-ng-true-value="'TEM-4'" data-ng-false-value="" type="checkbox"> <i class="weui_icon_checked"></i>&nbsp; &nbsp;
                        <span>TEM-4</span> </label>
                    <label class="weui_cell weui_check_label">
                        <input data-ng-model="languageLevel[3]" class="weui_check" ng-change="changelanguagelevel()" data-ng-true-value="'TEM-8'" data-ng-false-value="" type="checkbox"> <i class="weui_icon_checked"></i>&nbsp; &nbsp;
                        <span>TEM-8</span> </label>
                    <label class="weui_cell weui_check_label">
                        <input data-ng-model="languageLevel[4]" class="weui_check" ng-change="changelanguagelevel()" data-ng-true-value="'JPT-1'" data-ng-false-value="" type="checkbox"> <i class="weui_icon_checked"></i>&nbsp; &nbsp;
                        <span>JPT-1</span> </label>
                    <label class="weui_cell weui_check_label">
                        <input data-ng-model="languageLevel[5]" class="weui_check" ng-change="changelanguagelevel()" data-ng-true-value="'JPT-2'" data-ng-false-value="" type="checkbox"> <i class="weui_icon_checked"></i>&nbsp; &nbsp;
                        <span>JPT-2</span> </label>
                    <label class="weui_cell weui_check_label">
                        <input data-ng-model="languageLevel[6]" class="weui_check" ng-change="changelanguagelevel()" data-ng-true-value="'JPT-3'" data-ng-false-value="" type="checkbox"> <i class="weui_icon_checked"></i>&nbsp; &nbsp;
                        <span>JPT-3</span> </label>
                    <div class="weui_cell">
                        <p class="weui_cell_hd form-rest">Other:</p>
                        <input id="skillOther" class="weui_cell_bd form-control" ng-change="changelanguagelevel()" data-ng-model="languageLevel[7]" ng-change="changeSkillOther()"> </div>
                </div>
                <p class="weui_cells_title">*Education Experience:<span id="eduExpError" ng-show="eduExpError" style="color: red;float:right">Education required</span><span id="eduExpError" style="color: red;float:right" data-ng-show="candidateValidate.University.$error.required || candidateValidate.Major.$error.required || candidateValidate.Period_eduExp.$error.required || candidateValidate.Degree.$error.required">Full fill the Education</span></p>
                <div class="weui_cells" data-ng-init="candidate.educationExperiences=[]">
                    <div class="weui_cell">
                        <div class="weui_cell_hd" style="width:50%;padding-right:10px;">
                            <input type="button" data-ng-click="addEduExp()" class="weui_btn weui_btn_primary" value="Add +"> </div>
                        <div class="weui_cell_bd" style="width:50%;padding-left:10px;">
                            <input type="button" data-ng-click="dropEduExp()" class="weui_btn weui_btn_primary" value="Drop -"> </div>
                    </div>
                    <div data-ng-repeat="eduExp in candidate.educationExperiences">
                        <div class="weui_cell">
                            <p class="weui_cell_hd form-rest">*University:</p>
                            <input class="weui_cell_bd form-control" name="University" required data-ng-model="eduExp.university">
                        </div>
                        <div class="weui_cell">
                            <p class="weui_cell_hd form-rest">*Major:</p>
                            <input class="weui_cell_bd form-control" name="Major" required data-ng-model="eduExp.major"> 
                        </div>
                        <div class="weui_cell">
                            <p class="weui_cell_hd form-rest">*Period:</p>
                            <input class="weui_cell_bd form-control" name="Period_eduExp" required data-ng-model="eduExp.period">
                        </div>
                        <div class="weui_cell">
                            <p class="weui_cell_hd form-rest">GPA:</p>
                            <input class="weui_cell_bd form-control" data-ng-model="eduExp.gpa"> </div>
                        <div class="weui_cell">
                            <p class="weui_cell_hd form-rest">*Highest Degree of Education:</p>
                            <input class="weui_cell_bd form-control"  name="Degree" required data-ng-model="eduExp.degree">
                        </div>
                    </div>
                </div>
                <p class="weui_cells_title">Work Experience:</p>
                <div class="weui_cells" data-ng-init="candidate.workExperiences=[]">
                    <div class="weui_cell">
                        <div class="weui_cell_hd" style="width:50%;padding-right:10px;">
                            <input type="button" data-ng-click="addWorkExp()" class="weui_btn weui_btn_primary" value="Add +"> </div>
                        <div class="weui_cell_bd" style="width:50%;padding-left:10px;">
                            <input type="button" data-ng-click="dropWorkExp()" class="weui_btn weui_btn_primary" value="Drop -"> </div>
                    </div>
                    <div data-ng-repeat="workExp in candidate.workExperiences">
                        <div class="weui_cell">
                            <p class="weui_cell_hd form-rest">Company:</p>
                            <input class="weui_cell_bd form-control" data-ng-model="workExp.company">
                        </div>
                        <div class="weui_cell">
                            <p class="weui_cell_hd form-rest">Position:</p>
                            <input class="weui_cell_bd form-control" data-ng-model="workExp.position">
                        </div>
                        <div class="weui_cell">
                            <p class="weui_cell_hd form-rest">Date of Employment:</p>
                            <input class="weui_cell_bd form-control" data-ng-model="workExp.period">
                        </div>
                        <div class="weui_cell">
                            <p class="weui_cell_hd form-rest">Details:</p>
                            <input class="weui_cell_bd form-control" data-ng-model="workExp.details">
                        </div>
                    </div>
                </div>
                <div class="weui_btn_area">
                    <input type="button" value="Submit" class="weui_btn weui_btn_warn" data-ng-disabled="candidateValidate.candidateName.$invalid || candidateValidate.IDnumber.$invalid ||candidateValidate.passportNumber.$invalid || candidateValidate.ProvinceNow.$invalid || candidateValidate.CellPhone.$invalid || candidateValidate.Email.$invalid || candidateValidate.ProfessionalSkill.$invalid || candidateValidate.University.$invalid || candidateValidate.Major.$invalid || candidateValidate.Period_eduExp.$invalid || candidateValidate.Degree.$invalid || LanguageSkillinvalid || eduExpinvalid || candidateValidate.GraduatePlan.$invalid || (graduatePlanother &&candidateValidate.GraduatePlan_Other.$invalid) || candidateValidate.ApplyPosition.$invalid || candidateValidate.AvailableDay.$invalid" data-ng-click="showDialog()"> </div>
            </form>
            <!--BEGIN dialog1-->
            <div class="weui_dialog_confirm" data-ng-show="signatureDialog.show">
                <div class="weui_mask"></div>
                <div class="weui_dialog">
                    <div class="weui_dialog_hd"> <strong class="weui_dialog_title"><br>Take a few minutes to complete the questionnaire</strong> </div>
                    <div class="weui_dialog_bd" style="text-align:center;"> <span style="font-family:'stxingkairegular';font-size:26px;" data-ng-bind="signature"></span>
                        <input class="form-control" style="width:100%;" data-ng-model="signature" placeholder="Please Sign:" required="required" autocomplete="on" autofocus="autofocus"> </div>
                    <div class="weui_dialog_ft"> <a href="javascript:;" class="weui_btn_dialog default" data-ng-click="hideDialog()">Back</a> <a href="javascript:;" class="weui_btn_dialog primary" data-ng-click="submitCandidate()">Sure</a> </div>
                </div>
            </div>
            <!--END dialog1-->
            <!--BEGIN dialog2-->
			<div class="weui_dialog_alert" data-ng-show="notice.show">
				<div class="weui_mask"></div>
				<div class="weui_dialog">
					<div class="weui_dialog_hd">
						<strong class="weui_dialog_title">Notice</strong>
					</div>
					<div class="weui_dialog_bd">Information is in the wrong format<br>Please confirm again</div>
					<div class="weui_dialog_ft">
						<a href="javascript:;" class="weui_btn_dialog primary" data-ng-click="hideNotice()">Got it</a>
					</div>
				</div>
			</div>
			<!--END dialog2-->
			<!--BEGIN toast-->
            <div data-ng-show="successToast.show">
                <div class="weui_mask_transparent"></div>
                <div class="weui_toast"> <i class="weui_icon_toast"></i>
                    <p class="weui_toast_content">Success</p>
                </div>
            </div>
            <!--end toast-->
            <!-- loading toast -->
            <div data-ng-show="loadingToast.show" class="weui_loading_toast">
                <div class="weui_mask_transparent"></div>
                <div class="weui_toast">
                    <div class="weui_loading" id="leafs">
                        <div class="weui_loading_leaf_0 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_1 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_2 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_3 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_4 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_5 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_6 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_7 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_8 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_9 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_10 weui_loading_leaf" ></div>
                        <div class="weui_loading_leaf_11 weui_loading_leaf" ></div>
                    </div>
                    <p class="weui_toast_content">Loading</p>
                </div>
            </div>
            <!--end toast-->
        </div>
    </div>
    <!-- /.container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script type="text/javascript" src="/wechat/resources/js/jquery-1.11.3.min.js"></script> <script type="text/javascript" src="/wechat/resources/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/wechat/resources/js/angular.min.js"></script>
    <script type="text/javascript" src="/wechat/resources/js/angular-cookies.min.js"></script>
    <!-- <script type="text/javascript" src="/wechat/resources/js/jquery-1.11.3.min.js"></script> -->
    <script type="text/javascript" src="/wechat/resources/js/candidate.page.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>

</html>
