<h3 class="hrtitle">Add Candidate</h3>
	<div ng-controller="candidateController">
		<div ui-view></div>
	</div>
<script type="text/javascript">
	var config = {
			params : {
				source : 'HRAddCandidate'
		}
	};
</script>
</html>