<img class="img-responsive" src="/wechat/resources/images/icon/head-img.jpg">
<div class="start-content">
	<div class="section fill-process">
		<p class="title"><span>Filling process</span></p>		
		<img class="img-responsive process-content" src="/wechat/resources/images/icon/process.png">
		<button type="button" class="btn start-btn btn-block">Start Now</button>					
	</div>	
</div>