  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img src="/wechat/resources/images/logo.png">
            <span class="">Talent Pool</span>
          </a>
        </div>
        <ul class="nav navbar-right navbar-signout">
          <li><a href="/wechat/logout">Sign out</a></li>
        </ul>
    </div>