	<div class="side-content">
	    <nav nav-focus id="menu" class="navbar-default navbar-fixed-side" role="navigation">
	    	<div class="sidebar-collapse collapse in">
	    		<ul class="nav" id="side-menu">
	    			<li class="sidebar-user">
	    				<div class="user-img">
	    					<span class="img-circle">
	    						<img src="/wechat/resources/images/{{photo}}.jpg" class="img-circle img-responsive">			
	    					</span>
	    				</div>	    			
	    				<div class="user-info">
	    					<div class="user-name" ng-bind="name"></div>
							 <sec:authorize access="hasRole('ROLE_HRM')">
								<a class="manager-hyperlink" ui-sref="newhr">manager</a>
							</sec:authorize>
	    				</div>
	    			</li>
	    			<li class="active">	    				
	    				<a href="javascript:;" ng-click="toggle()" data-target="#process" data-toggle="collapse">
	    					<i class="fa fa-bars fa-fw"></i>
	    					Recruitment Process
	    					<i class="fa fa-angle-right angle-right" ng-show="!showSubnav"></i>
	    					<i class="fa fa-angle-down angle-down" ng-show="showSubnav"></i>
	    				</a>
	    				<!-- Q0 -- Q5 -->
	    				<ul id="process" class="nav nav-second-level collapse in">
	    					<li ng-repeat="state in status.list" class="{{state.clazz}}" ng-click="updateState(state.name,state.title)">
	    						<a ui-sref="process">
	    							<i class="{{state.iclazz}}"></i>
	    							{{state.title}}
	    						</a>
	    					</li>
	    					<!-- <li  ng-click="updateState(STATUS_NEW,Q0-Campus Talk)">
	    						<a ui-sref="process">
	    							<i class="fa fa-angle-right fa-fw"></i>
	    							Q0-Campus Talk
	    						</a>
	    					</li>
	    					<li  ng-click="updateState(STATUS_Q1,Q1-Paper Test)">
	    						<a ui-sref="process">
	    							<i class="fa fa-angle-right fa-fw"></i>
	    							Q1-Paper Test
	    						</a>
	    					</li>
	    					<li  ng-click="updateState(STATUS_Q2,Q2-Group)">
	    						<a ui-sref="process">
	    							<i class="fa fa-angle-right fa-fw"></i>
	    							Q2-Group
	    						</a>
	    					</li>
	    					<li  ng-click="updateState(STATUS_Q3,state.title)">
	    						<a ui-sref="process">
	    							<i class="fa fa-angle-right fa-fw"></i>
	    							Q0-Campus Talk
	    						</a>
	    					</li>
	    					<li  ng-click="updateState(state.name,state.title)">
	    						<a ui-sref="process">
	    							<i class="fa fa-angle-right fa-fw"></i>
	    							Q0-Campus Talk
	    						</a>
	    					</li>
	    					<li  ng-click="updateState(state.name,state.title)">
	    						<a ui-sref="process">
	    							<i class="fa fa-angle-right fa-fw"></i>
	    							Q0-Campus Talk
	    						</a>
	    					</li> -->

	    				</ul>
	    			</li>
	    			<li ui-sref-active="on" id="sheets">
	    				<a ui-sref="sheets" >
	    					<i class="fa fa-file-text fa-fw"></i>
	    					Sheets
	    				</a>
	    			</li>
	    			<li ui-sref-active="on">
	    				<a href="forCandidate" >
	    					<i class="fa fa-user-plus fa-fw"></i>
	    					Add Candidate
	    				</a>
	    			</li>
	    			<li>
	    				<a href="http://208.175.209.70:8983/survey/Admin_LogIn.jsp" >
	    					<i class="fa fa-question-circle fa-fw"></i>
	    					Online Survey
	    				</a>
	    			</li>
	    			<li ui-sref-active="on">
	    				<a ui-sref="help" >
	    					<i class="fa fa-question-circle fa-fw"></i>
	    					Help
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    </nav>
	</div>
</div>
	<script type="text/javascript" src="/wechat/resources/js/jquery.nicescroll.js"></script>
	<script>
		$( '#menu' ).niceScroll({
			cursorcolor: '#fff',
			railalign: 'right', 
			cursorborder: "none", 
			horizrailenabled: false, 
			zindex: 2001, 
			cursoropacitymax: 0, 
			spacebarenabled: false 
		});
	</script>	