@CHARSET "UTF-8";
/*PC*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif, "Gill Sans Light";
  list-style-type:none;
}
body{
    background: #fff;
}
.hrtitle{
    padding: 18px 0 20px 0;
    font-family: Georgia;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #333;
}

.select{padding:5px 10px;border-radius:4px;margin:5% auto;font-size:20px}
.select li{list-style:none;padding:10px 0 5px 100px}
.select .select-list{border-bottom:#eee 1px dashed}
.select dl{zoom:1;position:relative;line-height:24px;}
.select dl:after{content:" ";display:block;clear:both;height:0;overflow:hidden}
.select dt{margin-bottom:5px;position:absolute;top:0;left:-100px;text-align:right;color:#666;height:24px;line-height:24px}
.select dd{float:left;display:inline;margin:0 0 5px 5px;}
.select a{display:inline-block;white-space:nowrap;height:24px;padding:0 10px;text-decoration:none;color:#039;border-radius:2px;}
.select a:hover{color:#f60;background-color:#f3edc2}
.select .selected a{color:#fff;background-color:#f60}
.select-result dt{font-weight:bold}
.select-no{color:#999}
.select .select-result a{padding-right:20px;background:#f60 url("close.gif") right 9px no-repeat}
.select .select-result a:hover{background-position:right -15px}
.select{text-align:left}
.select .selected-all a{color:#fff;background-color:#f60}
.header{
    padding-right: 30px;
    background: #FC8B01;
    height: 70px;
}
.header .image{
    float: left;
}
input[type=radio],input[type=checkbox]{
    margin-right: 2px;
    width: 16px;
    height: 16px;
}
.header .title1{
    font-size: 35px;
    float: left;
    font-family: Helvetica;
    color:#fff;
    margin: 0;   
    line-height: 70px;
}
.header .title2{
    font-size: 18px;
    float: right;
    font-family: Helvetica;
    color:#fff;
    margin: 0;   
    line-height: 70px;
}
.content{
    padding: 15px 32px;
}
.section>.title{
    height: 33px;
    border-bottom:1px solid #f2f2f2;
    margin: 0;
}
.section>p>span{
    font-family: Helvetica;
    display: inline-block;
    border-bottom: 1px solid #fc8b01;
    font-size: 18px;
    line-height: 32px;
    color:#333;
}
.process-content{
    padding: 22px 0 38px 0;
}
.process-content img{
    display: inline-block;
}
.process-content .arrow{
    margin:0 50px; 
}
.position-content,.personal-content,.language-content,.work-content,.education-content{
    padding: 20px 0;
}
.section label,.survey label{
    line-height: 28px;
    font-family: Helvetica;
    font-size: 16px;
    color:#878787;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.education-content,.work-content{
    border-bottom: 1px dashed #d9d9d9;
}
.education-content:last-child,.work-content:last-child{
    border: 0px dashed #d9d9d9;
    padding: 20px 0;
}
label span{
    color:red;
}
.form-group{
    height: 45px;
}
.survey.form-group{
    height: auto;
}
.next-btn{
    padding: 5px 60px;
    background: #FC8B01;
    color:#fff;
    font-size: 18px;
}
.back-btn{
    padding: 5px 60px;
    background: #ccc;
    color:#fff;
    font-size: 18px;
    margin-right: 20px;
}
.language-content label{
    margin-right: 20px;
}
.survey_cell{
    font-size:11pt;
    width:98%;
    padding-top:10px;
    border-bottom:1px solid #d9d9d9;
}
.survey_cell:last-child{
    font-size:11pt;
    width:98%;
    padding-top:10px;
    border-bottom:0px solid #d9d9d9;
}
.survey_textarea{
    width:100%;
    font-size:16px;
    border-radius:5px;
    padding:10px;
    margin:10px 0;
    resize:none;
}
.form-control[readonly]{
    background-color: white !important;
    opacity: 1;
}
.error_info{
    color: red;
}
.candidate_gender>ul>li{
    border: 1px solid #dedede;
    border-radius: 4px;
    list-style: none;
    display:inline;
    padding: 3px 3px 3px 3px;
    color: black;
}
.candidate_gender>ul>.selected{
    border: 0px solid #dedede;
    background-color: #ff8b00;
    color: white;
}
.workDeatil{
    height: 80px !important;
    resize: none;
}
/*mobileCandidate*/
.start-content{
   padding: 15px 20px; 
}
.start-btn{
    font-family: Helvetica;
    background: #ff8b00;
    color:#fff;
    padding: 10px 12px;
}
.start-btn.focus, .start-btn:focus, .start-btn:hover {
    color: #fff;
}
@media(max-width: 529px){
    select,input,textarea{
        font-size: 12px !important;
    }
    .university>div,.major>div{
        padding: 1px;
    }
    .back-btn{
        width: 40%;
        padding: 0px;
    }
    .next-btn{
        width: 40%;
        padding: 0px;
    }
    .section label, .survey label,.preview_info span{
        font-size:13px;
    }
    .header{
        padding-right: 10px;
        background: #ff8200;
        height: 70px;
    }
    .header .image{
        width: 70px;
        float: left;
        line-height: 70px;
    }
    .header img{
        width: 100%;
    }
    .header .title1{
        font-size: 18px;
        float: left;
        font-family: Helvetica;
        color:#fff;
        margin: 0;   
        line-height: 70px;
    }
    .header .title2{
        font-size: 10px;
        float: right;
        font-family: Helvetica;
        color:#fff;
        margin: 0;   
        line-height: 70px;
    }
    .form-group{
        height: 30px;
    }
    .error_info{
        font-size: 12px;
    }
}
@media(max-width: 321px){
    select,input,textarea{
        font-size: 11px !important;
    }
    .section label, .survey label{
        font-size:11px;
    }
}